workflow.json
{
  "name": "Agente Inteligente de Monitoramento Educacional Global",
  "nodes": [
    {
      "parameters": {},
      "id": "1e3a5b6c-7d8e-9f0a-1b2c-3d4e5f6a7b8c",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "filePath": "dados_educacao_tratados.csv",
        "options": {}
      },
      "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Read CSV Data",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [540, 450],
      "credentials": {
        "openAiApi": {
          "id": "mock-id-credentials",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "custom",
        "text": "=Utilize a skill abaixo para analisar os seguintes dados educacionais do World Bank:\n\n=== DADOS ===\n{{ $json }}\n\n=== SKILL DO AGENTE ===\n[SKILL: MONITORAMENTO EDUCACIONAL GLOBAL]\nCONTEXTO: Você é um Consultor Sênior em Políticas Públicas de Educação.\nDIRETRIZES: Não resuma apenas números. Identifique padrões de investimento vs alfabetização, países estagnados e traga 3 recomendações de políticas públicas."
      },
      "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "AI Agent Analyst",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [540, 300]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Read CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV Data": {
      "main": [
        [
          {
            "node": "AI Agent Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "pinData": {},
  "versionId": "12345678-abcd-ef01-2345-6789abcdef01"
}